<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add Posts</title>

  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div id="us">
  <ul class="nav nav-pills">
    <li><h3>{{ session['current_user'] }} &nbsp;</h3></li>
    <li role="presentation"><a href="{{ url_for('auth.signup') }}">Sign Out</a></li>
  </ul>
</div>

<div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="{% if request.endpoint == 'blog.show_posts' %}active{% endif %}">
      <a href="{{ url_for('blog.show_posts') }}">Posts</a>
    </li>
    <li role="presentation" class="{% if request.endpoint == 'blog.add_post' %}active{% endif %}">
      <a href="{{ url_for('blog.add_post') }}">Add Posts</a>
    </li>
    <li role="presentation"><a href="{{ url_for('main.index') }}">Home</a></li>
  </ul>
</div>

<div>
  <form action="" method="POST">
    {{ blogpost.hidden_tag() }}  <!-- CSRF token -->
    <table align="center">
       <tr>
        <td>{{ blogpost.title(class="form-control", placeholder="Title") }}</td>
      </tr>
      <tr>
        <td>{{ blogpost.description(class="form-control", rows="3", placeholder="Description") }}</td>
      </tr>
      <tr>
        <td align="center"><input class="submitbt" type="submit" value="Post" /></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
