<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="container">
    <form class="form-signin" action="" method="POST">
        <h2 class="form-signin-heading">Please Sign In</h2>
        
        {{ signinform.hidden_tag() }}
        
        {{ signinform.email(placeholder="Email", id="inputEmail", class="form-control", autofocus="") }}
        {% for error in signinform.email.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
        
        {{ signinform.password(placeholder="Password", id="inputPassword", class="form-control", required="") }}
        {% for error in signinform.password.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
        
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        
        {{ signinform.submit(class="btn btn-lg btn-primary btn-block") }}
        
        <div class="noacc">
            Don't have an account? <a href="{{ url_for('signup') }}">Sign Up Here</a>
        </div>
    </form>
</div>
</body>
</html>
